.menu-button {
  position: relative;
}

.menu-button__trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@media (min-width: 48rem) {
  .menu-button__trigger {
    justify-content: space-between;
  }
}

.menu-button__trigger svg {
  display: none;
}

@media (min-width: 48rem) {
  .menu-button__trigger svg {
    display: block;
  }
}

.menu-button__list {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
}

.menu-button__list[data-isopen="true"] {
  display: block;
}

.menu-button__list li:not(:last-child) .menu-button__option {
  border-bottom: none;
}
