.site-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gutter);
}

input.site-header__search {
  background-image: url("/images/magnifier.svg");
  background-repeat: no-repeat;
  background-position: right 0.8em center;
  background-size: 1em 1em;
}
