body {
  font-family: var(--font-base);
  font-size: var(--step-0);
  color: var(--color-dark);
  background-color: var(--color-light);
  line-height: var(--leading-standard);
  font-size-adjust: from-font;
  margin: 0;
}

:is(h1, h2, h3, h4) {
  line-height: var(--leading-fine);
  font-weight: var(--font-medium);
  font-family: var(--font-heading);
  text-wrap: balance;
}

h1 {
  font-size: var(--step-6);
  max-width: 20ch;
}

h2 {
  font-size: var(--step-5);
  max-width: 35ch;
}

h3 {
  font-size: var(--step-4);
}

:is(h4, h5, h6) {
  font-size: var(--step-3);
}

small {
  font-size: var(--step--1);
  color: var(--color-error);
}

/* lists */

[role="list"][class],
[role="tablist"][class],
[role="menu"][class] {
  margin-block: 0;
  padding: 0;
}

/* interactivity */

a:not([class]):hover,
[data-status]:hover {
  text-underline-offset: 0.2lh;
}

:is(h1, h2, h3, h4) a:not([class]) {
  text-decoration-thickness: 0.1ex;
  text-underline-offset: 0.2ex;
}

:is(h1, h2, h3, h4) a:not([class]):hover {
  text-underline-offset: 0.3ex;
}

:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--focus-color, currentColor);
  outline-offset: var(--focus-offset, 0.2lh);
}

@supports (-moz-appearance: none) {
  :root {
    --focus-offset: 0.08em;
  }
}

/* tables */

table {
  border: var(--stroke);
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  font-weight: var(--font-bold);
  line-height: var(--leading-fine);
}

thead th {
  padding-block: var(--space-s);
}

td,
th {
  padding: var(--space-xs) var(--space-s);
}

td {
  background: var(--color-white);
}

th:not(:only-of-type) {
  border-block-end: var(--stroke);
}

th:only-of-type {
  border-inline-end: var(--stroke);
}

:is(th, td) ~ :is(th, td) {
  border-inline-start: var(--stroke);
}

tr + tr :is(th, td) {
  border-block-start: var(--stroke);
}

caption {
  margin-block-end: var(--space-s);
}

/* forms */

:is(input, select, textarea) {
  accent-color: var(--color-dark);
}

:is(
  input:not([type="checkbox"], [type="radio"], [type="color"]),
  select,
  textarea
) {
  padding: 0.5em 0.8em;
  border-radius: var(--radius-s);
  border: var(--stroke);
  background: var(--color-white);
  width: 100%;

  &::placeholder {
    color: var(--color-dark-glare);
    opacity: 1;
  }
}

label {
  line-height: var(--leading-fine);
  font-weight: var(--font-medium);
}

label::after {
  content: "\A";
  white-space: pre;
}

label:has(input) {
  display: flex;
  align-items: baseline;
  gap: var(--space-s);
}

label:has(input) + label:has(input) {
  --flow-space: var(--space-s-m);
}

label:has(input) input {
  transform: translateY(-0.1ex);
}

input:disabled {
  background: var(--color-light-shade);
}

input:disabled,
label input:disabled + * {
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

fieldset {
  border: var(--stroke);
  padding: var(--space-s);
}

legend {
  font-weight: var(--font-medium);
  padding-inline: var(--space-xs);
}
